@import "tailwindcss";

/* Pixel RPG styling */
.pixel-border {
  border: 4px solid black;
  image-rendering: pixelated;
}

.pixel-shadow {
  box-shadow: 4px 4px 0px 0px black;
}

.pixel-shadow-sm {
  box-shadow: 2px 2px 0px 0px black;
}
